.transfer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 17.5vh;
  margin-bottom: 17.5vh;
}
.Buttons {
  margin: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
}
.sender {
  width: fit-content;
}
.contentrow {
  margin-top: 1.5rem;
}
.avatar {
  margin-top: 1.5rem;
}
